<html>
<head>
    <link rel="stylesheet" href="//unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}
    <title>
        {% block title %}{% endblock %}- PP
        
    </title>
    {% endblock %}    
</head>
    <body>
        <div class="pure-g">
            <div id='header' class="pure-u-1-1 pure-menu pure-menu-horizontal" >
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href = '{{ url_for('index') | safe }}'> Index</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_phone') | safe }}'> New Phone</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_group') | safe }}'> New Group</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_group_type') | safe }}'> New Group Type</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_param') | safe }}'> New Param</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_ca') | safe }}'> New CA</a></li>
                    </ul>
            </div>
        </div>
        <br/>
        <div class="pure-g">
            <div id='body' class="pure-u-1-1">
                    <h1>Hey it's me ur pp</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="pure-u-1-1">
                            <b> Result:</b>
                            <ul class='alert'>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
        <br/>
        <div class="pure-g">
            <div id='footer' class="pure-u-1-1">
                &copy; 2019
            </div>
        </div>
    </body>
</html>