<html>
<head>
    <link rel="stylesheet" href="//unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}
    <title>
        {% block title %}{% endblock %}- PP
        
    </title>
    {% endblock %}    
</head>
    <body>
        <div class="pure-g">
            <div id='header' class="pure-u-1-1" >
                <div class="pure-menu pure-menu-horizontal">
                    <!-- <a href="#" class="pure-menu-heading pure-menu-link">PP</a> -->
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href = '{{ url_for('index') | safe }}'> Index</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_phone') | safe }}'> New Phone</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_group') | safe }}'> New Group</a></li>
                        <li class="pure-menu-item"><a href = '{{ url_for('new_param') | safe }}'> New Param</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div id='body'>
                <div id='left_content' class="pure-u-1-1">
                    <h1>Hey it's me ur pp</h1>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div>
                        <b> Update commited:</b>
                        <ul class='alert'>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div id='footer' class="pure-u-1-1">
                <br>
                &copy; 2019
            </div>
        </div>
    </body>
</html>