<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}
    <title>
        {% block title %}
        {% endblock %}
        - PP
    </title>
    {% endblock %}    
</head>
    <body>
        <div id='header'>
            <a href = '{{ url_for('index') | safe }}'> Index</a>
        </div>
        <div id='content'>
            <h1>Hey it's me ur pp</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div>
                <b> Update commited:</b>
                <ul class='alert'>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            {% block content %} {% endblock %}
        </div>
        <div id='footer'>
            <br>
            &copy; 2019
        </div>
    </body>
</html>