{% extends "ca.j2" %}
{% block op_header %}
Edit
{% endblock %}
{% block cert %}
            <div class="pure-u-1-3">
                {{ form.cert.label }}
                <br>
                {{ form.cert(class_='certInput') }}
            </div>
            <div class="pure-u-1-3">
                {{ form.private_key.label }}
                <br>
                {{ form.private_key(class_='certInput') }}
            </div>
             <div class="pure-u-1-3">
                {{ form.cert_revocation_list.label }}
                <br>
                {{ form.cert_revocation_list(class_='certInput') }}
            </div>
{% endblock %}
{% block op_ops%}
    <br>
    <br>
    {{ form.delete.label }}
    {{ form.delete }}
{% endblock %}

