{% extends "base.j2" %}
{% block title %}
View CA
{% endblock %}
{% block content %}
<h3>CA Info: {{ cert_authority[0] }}</h3>
<a href="{{ url_for('edit_ca', id=cert_authority.id ) | safe }}">Edit CA</a>
<br>
Thumbprint: {{ cert_authority[1] }}
<br>
Serial: {{ cert_authority[2]}}
<br>
<br>
<b>Issued Client Certs:</b>
<table class="pure-table">
	<th>SHA1 Hex Thumbprint</th>
	<th>Serial #</th>
	<th>Active?</th>
	<th>Revoked?</th>
	{% for client_cert in client_certs %}
		<tr>
			<td>{{ client_cert[0] }}</td>
			<td>{{ client_cert[1] }}</td>
			<td>
			{% if client_cert[2] %}
				<a href="{{ url_for('edit_phone', id=client_cert[2].id ) | safe }}">{{ client_cert[2].name }}</a>
			{% else %}
				{{ client_cert[2] }}
			{% endif %}
			</td>
			<td>{{ client_cert[3] }}</td>
		</tr>
	{% endfor %}

</table>


{% endblock %}