Config file for:
{{ mac_address }}
<br />
<br />

{% for key, value in rsop.items() %}

{% if value[2] == 0 %}
	{{ key }} = {{ value[0] }} from <a href='{{ url_for('edit_phone', id=value[1] ) | safe }}'>phone</a> at depth {{ value[2] }}
{% else %}
	{{ key }} = {{ value[0] }} from <a href='{{ url_for('edit_group', id=value[1] ) | safe }}'>group</a> at depth {{ value[2] }}
{% endif %}
<br />

{% endfor %}