{% extends "base.j2" %}
{% block title %}
Edit Phone
{% endblock %}
    {% block content %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <h3>Edit Phone:</h3>
                    {{ form.name.label }}
                    <br />
                    {{ form.name(size=32) }}
                    <br />
                    {{ form.mac_address.label }}
                    <br />
                    {{ form.mac_address(size=32) }}
                    <br />
                    {{ form.note.label }}
                    <br />
                    {{ form.note(size=32) }}
                </div>
            </div>
            <br />
            <div class="pure-g">
                <div class="pure-u-1-2">
                    {{ form.avail_params.label }}
                    <br />
                    {{ form.avail_params(size=6) }}
                </div>
                <div class="pure-u-1-2">
                    {{ form.active_params.label }}
                    <br />
                    {{ form.active_params(size=6) }}
                </div>
            </div>
            <br />
            <div class="pure-g">
                <div class="pure-u-1-2">
                    {{ form.avail_groups.label }}
                    <br />
                    {{ form.avail_groups(size="6") }}
                </div>
                <div class="pure-u-1-2">
                    {{ form.active_groups.label }}
                    <br />
                    {{ form.active_groups(size="6") }}
                </div>
            </div>
            <br />
            <div class="pure-g">
                <div class="pure-u-1-1">
                    {{ form.delete.label }}
                    {{ form.delete }}
                    <br />
                    <br />
                    {{ form.submit() }}
                </div>
            </div>
        </form>
{% endblock %}