{% extends "base.j2" %}
{% block title %}
Edit Group
{% endblock %}
{% block content %}
<div>
    <h3>Edit Group:</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="pure-g">
            <div class="pure-u-1-4">
                {{ form.name.label }}
                <br />
                {{ form.name(size=32) }}
                <br />
                {{ form.type.label }}
                <br />
                {{ form.type(size=4) }}
                <br />
                {{ form.note.label }}
                <br />
                {{ form.note(size=32) }}
            </div>
        </div>
        <br />
        <div class="pure-g">
            <div class="pure-u-1-4">
                {{ form.avail_params.label }}
                <br />
                {{ form.avail_params(size=6) }}
            </div>
            <div class="pure-u-1-4">
                {{ form.active_params.label }}
                <br />
                {{ form.active_params(size=6, ) }}
            </div>
        </div>
        <br />
        <div class="pure-g">
            <div class="pure-u-1-4">
                {{ form.avail_children.label }}
                <br />
                {{ form.avail_children(size=6) }}
            </div>
            <div class="pure-u-1-4">
                {{ form.active_children.label }}
                <br />
                {{ form.active_children(size=6, ) }}
            </div>
        </div>
        <br />
        <div class="pure-g">
            <div class="pure-u-1-4">
                {{ form.avail_parents.label }}
                <br />
                {{ form.avail_parents(size=6) }}
            </div>
            <div class="pure-u-1-4">
                {{ form.active_parents.label }}
                <br />
                {{ form.active_parents(size=6, ) }}
            </div>
        </div>
        <br />
        <div class="pure-g">
            <div class="pure-u-1-4">
                {{ form.delete.label }}
                {{ form.delete }}
                <br />
                {{ form.submit() }}
            </div>
        </div>
    </form>
</div>
{% endblock %}