{% extends "base.j2" %}
{% block title %}
Edit Parameter
{% endblock %}
{% block content %}
<div>
        <h3>Edit Parameter:</h3>
        {{ avail_param.base_param.name }}
        <br />
        <br />
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.value.label }}
                <br />
                {{ form.value(size=32) }}
            </div>
            <br />
            <div>
                {{ form.note.label }}
                <br />
                {{ form.note(size=32) }}
            </div>
            <br />
            <div>
                {{ form.delete.label }}
                {{ form.delete }}
            </div>
            <br />
            <div>{{ form.submit() }}</div>
        </form>
</div>
{% endblock %}