{% extends "base.j2" %}
{% block title %}
Edit Group
{% endblock %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            <br />
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.type.label }}
            <br />
            {{ form.type(size="4") }}
        </p>
        <p>
            {{ form.note.label }}
            <br />
            {{ form.note(size=32) }}
        </p>
        <p>
            {{ form.avail_params.label }}
            <br />
            {{ form.avail_params(size="6") }}
        </p>
        <p>
            {{ form.active_params.label }}
            <br />
            {{ form.active_params(size="6") }}
        </p>
        <p>
            {{ form.delete.label }}
            {{ form.delete }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}