{% extends "base.j2" %}
{% block title %}
Index
{% endblock %}
{% block content %}

<div>
	<h3> Phones </h3>
	<table class="pure-table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>MAC Address</th>
			<th>Member of</th>
			<th>Note</th>
			<th><a href="{{ url_for('new_phone') | safe }}">New</a></th>
			<th>Config</th>

		</tr>
			{% for phone in phones %}
			<tr>
				<td>{{ phone.id }}</td>
				<td>{{ phone.name }}</td>
				<td>{{ phone.mac_address }}</td>
				<td> 
					{% for group in get_phone_groups(phone)[1] %}
						{{ group.name }}{% if not loop.last %},{% endif %}
					{% endfor %}
				<td>{{ phone.note }}</td>
				<td><a href="{{ url_for('edit_phone', id=phone.id ) | safe }}">Edit</a></td>
				<td><a href="{{ url_for('rsop', mac_address=phone.mac_address ) | safe }}">View RSoP</a></td>
			</tr>
			{% endfor %}
	</table>
</div>
<div>
	<h3> Groups </h3>
	<table class="pure-table">
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>Name</th>
			<th>Member of</th>
			<th>Members</th>
			<th>CA</th>
			<th>Note</th>
			<td><a href="{{ url_for('new_group') | safe }}">New</a>

		</tr>
			{% for group in groups %}
			<tr>
				<td>{{ group.id }}</td>
				<td>{{ group.type.name }}</td>
				<td>{{ group.name }}</td>
				<td> 
					{% for group in get_group_groups(group,'children')[1] %}
						{{ group.name }}{% if not loop.last %},{% endif %}
					{% endfor %}
				</td>
				<td> 
					{% for group in get_group_groups(group,'parents')[1] %}
						{{ group.name }}{% if not loop.last %},{% endif %}
					{% endfor %}
				</td>
				<td> {{ group.cert_authority.name }} </td>
				<td>{{ group.note }}</td>
				<td><a href="{{ url_for('edit_group', id=group.id ) | safe }}">Edit</a></td>
			</tr>
			{% endfor %}
	</table>
</div>
<div>
	<h3> Group Types </h3>
	<table class="pure-table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Precedence</th>
			<th>Note</th>
			<td><a href="{{ url_for('new_group') | safe }}">New</a>

		</tr>
			{% for group_type in group_types %}
			<tr>
				<td>{{ group_type.id }}</td>
				<td>{{ group_type.name }}</td>
				<td>{{ group_type.precedence }}</td>
				<td>{{ group_type.note }}</td>
				<td><a href="{{ url_for('edit_group', id=group_type.id ) | safe }}">Edit</a></td>
			</tr>
			{% endfor %}
	</table>
</div>
<div>
	<h3> Parameters </h3>
	<table class="pure-table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Value</th>
			<th>Note</th>
			<th><a href="{{ url_for('new_param') | safe }}">New</a></th>

		</tr>
			{% for avail_param in avail_params %}
			<tr>
				<td>{{ avail_param.id }}</td>
				<td>{{ avail_param.base_param.name[1:] }}</td>
				<td>{{ avail_param.value }}</td>
				<td>{{ avail_param.note }}</td>
				<td><a href="{{ url_for('edit_param', id=avail_param.id ) | safe }}">Edit</a></td>
			</tr>
			{% endfor %}
	</table>
</div>
{% endblock %}