{% extends "base.j2" %}
{% block title %}
New Group
{% endblock %}
{% block content %}
    <h3>New Group</h3>
    <form action="" method="post" class="pure-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.type.label}}<br>
            {{ form.type }}
        </p>
        <p>
            {{ form.note.label }}<br>
            {{ form.note(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}