{% extends "base.j2" %}
{% block title %}
Parameters
{% endblock %}
{% block content %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.param.label }}
            <br />
            {{ form.param(size="16") }}
        </p>
        <p>
        	{{ form.value.label }}
        	<br />
        	{{ form.value }}
        </p>
        <p>
        	{{ form.note.label }}
        	<br />
        	{{ form.note }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}