{% extends "phone.j2" %}
{% block title %}
New Phone
{% endblock %}

{% block op_header %}
New Phone
{% endblock %}

{% block group_params %}
<div class="pure-g">
    <div class="pure-u-1-2">
        {{ form.avail_params.label }}
        <br>
        {{ form.avail_params(size=12) }}
    </div>
    <div class="pure-u-1-2">
        {{ form.avail_groups.label }}
        <br>
        {{ form.avail_groups(size=12) }}
    </div>
</div>
{% endblock %}

{% block op_ops %}
{% endblock %}

