{% extends "phone.j2" %}
{% block op_header %}
Edit
{% endblock %}
{% block params %}
    <div class="pure-u-1-2">
        {{ form.avail_params.label }}
        <br />
        {{ form.avail_params(size=12) }}
    </div>
    <div class="pure-u-1-2">
        {{ form.active_params.label }}
        <br />
        {{ form.active_params(size=12) }}
    </div>
{% endblock %}
{% block groups %}
    <div class="pure-u-1-2">
        {{ form.avail_groups.label }}
        <br />
        {{ form.avail_groups(size=12) }}
    </div>
    <div class="pure-u-1-2">
        {{ form.active_groups.label }}
        <br />
        {{ form.active_groups(size=12) }}
    </div>
{% endblock %}
{% block op_ops %}
    <div class="pure-g">
        <div class="pure-u-1-1">
            {{ form.reissue_cert.label }}
            {{ form.reissue_cert }}
        </div>
    </div>
    <br>
    <br>
    {{ form.delete.label }}
    {{ form.delete }}
{% endblock %}

